.pokemon-list--item{
    background-color: #808B97;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px gray;
    color: white;
    font-weight: bold;
    transition: all .4s ease-in-out;
  }

  .pokemon-list--item:is(:hover,:active){
    scale: 2;
    box-shadow: 1px 1px 8px 1px rgb(64, 64, 64);
  }
  