.button-default{
    width: 100%;
    margin: 1rem 0;
    padding: .8rem;
    border-radius: 8px;
    background-color: #78B7BB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: all .2s ease-in-out;
  }

  .button-default:is(:hover,:active){
    scale: 1.1;
    box-shadow: 1px 1px 8px 1px white;
    background-color: #6bb4b9;
    cursor: pointer;
  }