.pokemon-list{
    display: flex;
    flex-wrap:  wrap;
    align-items: center;
    justify-content: center;
    background-color: hsla(46, 100%, 88%, 0.8);
    padding: 1rem;
    border-radius:16px ;
    gap: 1rem;
  }