#root{

  height: 100%;
  background-image: url('https://imgcdn.stablediffusionweb.com/2024/9/19/d1b30a12-0f76-42bc-ab57-baeb45fe160a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
    
}

fieldset{
  border: none;
}

input{
  padding: .8rem;
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: medium;
}